:root {
    --primary-color: #09fcfd;
    --size-unit: 64px;
    --animation-time: 200ms;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body 
{
    font-family:'Lato', sans-serif;
    box-sizing: border-box;
}

.container 
{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}

.information
{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 32px;
    z-index: 2;
    position: relative;
}

.modal
{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal__button {
    padding: 30px 15px;
    background-color: transparent;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    position: relative;
    cursor: pointer;
    font-size: 42px;
    margin-top: 20px;
    outline: none;
    transition: box-shadow 0.1s ease-in;
}

.modal__button:hover {
    box-shadow: 0px 0px 20px 5px var(--primary-color);
}

.spaceship {
    width: var(--size-unit);
    height: var(--size-unit);
    background-image: url('../img/ship_sprite.png');
    animation: move8 var(--animation-time) steps(8) infinite;
}

@keyframes move8 {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 512px;
    }
}

@keyframes move5 {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 320px;
    }
}

@keyframes move9 {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 1152px;
    }
}

.enemy {
    width: var(--size-unit);
    height: var(--size-unit);
    background-image: url('../img/smallenemy_sprite.png');
    animation: move5 200ms steps(5) infinite;
}

.enemy--big {
    width: calc(var(--size-unit) * 2);
    height: calc(var(--size-unit) * 2);
    background-image: url('../img/bigenemy_sprite.png');
    animation: move9 200ms steps(9) infinite;
}

.modal__text {
    font-size: 42px;
    text-align: center;
}

.hide {
    display: none;;
}